body {
  font-family:Tahoma;
  margin: 0;
  padding: 20px;
}

/* Invoice Table Styles */
.inv-table {
  border: 5px solid #362C7A;
  border-collapse: collapse;
  width: 600px;
  margin: 15px auto;
  box-shadow: 0 3px 5px #32292F; 
}

.inv-table td, .inv-table th {
  border: 1px solid navy;
  padding: 8px;
}

.inv-table tr:nth-child(even) {
  background-color: #f7efe1;
}

td.inv-header {
  background-color: #C6B6F7;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  border-bottom: 10px solid #362C7A;
}

.inv-subheader {
  background-color: #5a5086;
  color: white;
  padding: 6px;
  font-weight: bold;
}

/* Form Table Styles */
.frm-table {
  border: 5px solid #362C7A; 
  width: 600px;
  border-collapse: collapse; 
  margin: 15px auto;
  box-shadow: 0 3px 5px #32292F; 
}

.frm-table td, .frm-table th {
  border-bottom: 1px solid #C6B6F7;
  border-collapse:collapse;
  padding:15px;
}

.frm-header {
  background-color: #C6B6F7;
  text-align: center;
  font-weight: bold;
  padding: 8px;
}

input[type="text"], select, textarea {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 70%;
  background-color: #F8E2B5;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 3px #32292F; 
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.125em;
}

input[type="submit"]:hover {
  background-color: #5b4f92;
  color: white;
}

textarea {
  resize: none;
}